.new-game-card-container {
  height: 100%;
}

.new-game-card {
  margin: 3%;
  border-radius: 12px;
  background-color: #495057;
}

.new-game-card-header {
  display: flex;
  justify-content: center;
  text-align: center;

  .title {
    font-size: 2em;
    color: #f8f9fa;
  }

  .subtitle {
    margin-top: 2%;
    font-size: 1.7em;
    color: #adb5bd;
  }
}

.new-game-card-content {
  display: flex;
  justify-content: space-around;
  margin-top: 7%;
}

.mat-radio-group {
  display: flex;
  justify-content: space-around;
  margin-top: 7%;
}

.round-input-1 {
  font-size: 1.5em;
  color: #90e0ef;
}

.round-input-2 {
  font-size: 1.5em;
  color: #90e0ef;
}

mat-label {
  color: #f8f9fa;
}

mat-hint {
  color: #f8f9fa;
}

strong {
  color: #f8f9fa;
}
